@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html{
  background-color: lightblue;
}

.wrapper{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 800px;
  height: 500px;
  margin-left: 400px;
  margin-top: 150px;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
}


/* .step-one, .step-two, .step-three, .step-four{
  width: 300px;
  height: 250px;
  display: flex;
  margin-left: 300px;
} */



/* 



/* TOGGLE SWITCH */
/* .toggle{
  display: flex;
  align-items:center;
  width: 300px;
  height: 100px;
  background-color: lightgrey;
  margin-top: 50px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* margin-top: 50px; */
  /* margin-left: 100px; */
/* } */

/* .switch .checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* .slider {
  border-radius: 34px;
} */
/* 
.slider:before {
  border-radius: 50%;
} */ 

